/* needs to be minified  */

* {box-sizing: border-box;}

:root {
  --yellow: #ffcb05;
  --mustard: #b3a125;
  --blue: #2a75bb;
  --navy: #003a70;
  --red: #cc0000;
}

body {
  position: absolute;
  background: url('../src/img/forestBackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-color: var(--blue); */
  color: #ffcb05;
  /* border: 10px solid var(--yellow); */
  width: 100%;

}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
a:hover {
  color: rgb(255, 255, 255);
}

h1 {
  /* font-size: 35px; */
  font-weight: 700 !important;
  text-align: center;
  background-color: inherit;
  color: white;
  margin-top: 10px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.9px;
  border-bottom: 2px solid black;
  font-family: 'Rubik', sans-serif;
}

h2 {
  margin-top: 0.9375rem;
  font-size: 1.25rem;
  text-align: left;
}

@media all and (max-width: 576px) {
  h1 {
    margin-top: 18px;
    font-weight: 500 !important;
    font-size: 50px !important;
  }
  .header-powerbtn {
    width: 35px !important;
    height: 35px !important;
    margin-left: -4% !important;
  }
  .btn-pokemon {
    width: 30% !important;
    font-size: 16px !important;
  }
}

.search {
  text-align: center;
  display: block;
}

#search-bar {
  text-align: center;
}

.headImg {
    width: 100%;
}

.modal-header {
  display: inline-block;
}

/* .card-header {
  display: inline-block; */
/* } */
.modal-img {
  width: 7.875rem;
  height: auto;
}

/* .card-img {
  height: 7.875rem;
} */

.header-powerbtn {
  background: url("../src/img/power.png");
  background-size: 100% 100%;
  border-radius: 50px;
  width: 2.8125rem;
  height: 2.8125rem;
  margin-top: 1.3rem;
  margin-left: 5%;
  transition: ease-in-out all .4s;
  cursor: pointer;
  float: left;
  border: none;

}

.header-powerbtn:hover {
  background: url("../src/img/power-yellow.png");
  background-size: 100% 100%;
  transition: ease-in-out all .4s;
  /* background-color: var(--mustard);
  border-radius: 60px; */
}

#overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 35px;
  background-color: #696666;
  z-index: 4000;
  animation: off;
  animation-timing-function: ease-in;
}

@keyframes off {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* .card-foreground.visible::-webkit-scrollbar {
  width: 0.625rem;
} */

.modal-foreground.visible::-webkit-scrollbar {
  width: 0.625rem;
}


/* .card-foreground.visible::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
} */
.modal-foreground.visible::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* .card-foreground.visible::-webkit-scrollbar-thumb {
  background: #888;
  height: 1.25rem;
  border-radius: 0.625rem;
} */
.modal-foreground.visible::-webkit-scrollbar-thumb {
  background: #888;
  height: 1.25rem;
  border-radius: 0.625rem;
}

/* .card-foreground.visible::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
.modal-foreground.visible::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* modal background color */
.fire-bg,
.fighting-bg {
  background-image: url("..//img/fire.png");
  border: 15px solid var(--mustard);
  opacity: .5;
}

.psychic-bg,
.ghost-bg {
  background-image: url("..//img/psychic.png");
  border: 15px solid var(--mustard);
}

.grass-bg,
.bug-bg {
  background-image: url("..//img/grass.png");
  border: 15px solid var(--mustard);
}

.water-bg {
  background-image: url("..//img/water.png");
  border: 15px solid var(--mustard);
}

.normal-bg,
.ground-bg {
  background-image: url("..//img/colorless.png");
  border: 15px solid var(--mustard);
}

.electric-bg {
  background-image: url("..//img/electric.png");
  border: 15px solid var(--mustard);
}

.fairy-bg {
  background-image: url("..//img/fairy.png");
  border: 15px solid var(--mustard);
}

.dragon-bg {
  background-image: url("..//img/dragon.png");
  border: 15px solid var(--mustard);
}

.ice-bg {
  background-image: url("..//img/ice.png");
  border: 15px solid var(--mustard);
}

.poison-bg,
.rock-bg {
  background-image: url("..//img/poison.png");
  border: 15px solid var(--mustard);
}

.form-inline {
  color: white;
  font-size: 1.25rem;
  text-align: center;
}

.pokedex-window {
  position: relative;
  max-width: 800px;
  width: 100%;
  min-width: 300px;
  height: 60vh;
  min-height: 150px;
  background-color: #696666;
  margin-bottom: 5rem;
  padding: 1.5625rem;
  border-radius: 5%;
  border: 3px solid black;
  transition: all ease-in-out 0.4s;
}

@media all and (max-width: 586px) {
  .pokedex-window {
    height: 60vh;
  }
}

label {
  margin: 0;
  font-size: 16px;
}

.controls {
  
  /* display: inline-block; */
  text-align: center;
  margin: 0 auto;
}

.filter {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

.filter-btn {
  display: none;
  margin-bottom: 8px;
  height: 30px;
  width: 60px;
  font-size: 14px;
  padding: 0px;
  margin: 8px auto;
}

.radio {
  margin: 18px 4px 4px 22px;
}

@media all and (max-width: 576px) {
  p {
    font-size: 16px;
  }
  label {
    font-size: 14px;
  }
  .radio {
    margin: 6px 4px 4px 14px;
    height: 11px;
  }
  .filter {
    display: none;
  }
  .filter-btn {
    display: block;
  }
}

/* .control-group.form-inline {
  text-align: right;
} */
.pokedex-window-scrollbox {
  overflow: scroll;
  max-width: 800px;
  width: 100%;
  min-width: 250px;
  position: relative;
  height: 100%;
  margin: 0;
  background-color: lightgrey;
  padding: 0 0.9375rem 0 0.9375rem;
}

/* loading screen */
.msg-board {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  font-size: 1.5rem;
  font-weight: 900;
  max-width: 800px;
  border-radius: 15px;
  width: 95%;
  min-width: 290px;
  height: 95%;
  margin: 0;
  background-color: #696666;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.pokedex-window-scrollbox::-webkit-scrollbar {
  width: 0.6875rem;
}
.pokedex-window-scrollbox::-webkit-scrollbar-thumb {
  background-color: #818181;
  border-radius: 5px;
}

header {
  max-width: 400px;
  margin: 0 auto;
}

.logo {
  height: 6.25rem;
  margin: 0 auto;
  text-align: center;
  display: inline;
}

.form-control {
  margin: 0.55rem auto;
  text-align: left !important;
}

ul {
  list-style-type: none;
}

.pidgeot {
  position: absolute;
  left: -50px;
  top: -20px;
  width: 30px;
  animation-name: flying;
  animation-duration: 5s;
}

@keyframes flying {
  0% {
    left: 30;
    top: 100px;
    width: 90px;
  }
  100% {
    display: none;
    left: 80%;
    top: 0px;
    width: 0px;
  }
}

.pokedex {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  box-shadow: inset 0 0 15px grey;
  background-color: var(--red);
  color: black;
  border: 2px solid black;
  width: 80%;
  min-width: 400px;
  max-width: 600px;
  height: 90vh;
  min-height: 300px;
  margin-top: 1.5625rem;
  padding-left: 2.8125rem;
  padding-right: 2.8125rem;
  animation-name: openDex;
  animation-duration: 4s;
}

@media all and (max-width: 480px) {
  .pokedex {
    width: 100%
  }
}

@keyframes openDex {
  0%  { 
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 2000px;
    /* left: 50%; */
    }
  25% {
    /* position: absolute; */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top:800px;
    transform: rotateX(100deg)
  }
  100% {
    /* position: absolute; */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top:0px;
    transform: rotateX(0deg)
  }
}

.pokedex-head {
  background-color: inherit;
  color: black;
  text-align: center;
}

.modal-backdrop {
  position: relative;
  width: 37.5rem;
  height: 43.75rem;
  background-color: grey;
  z-index: 1000;
  display: none;
}

.modal-content {
  position: relative;
  width: 95%;
  height: 27.8125rem;
  margin-left: 3%;
  margin-top: -0.3125rem;
  z-index: 2000;
  overflow-x: hidden;
}

.modal-open.modal {
  top: -24px;
}

.modal-body {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
}

.btn-lg {
  width: 35%;
  min-width: 140px;
  text-align: center;
}

.btn-secondary {
    background-color: var(--yellow);
    color: var(--navy);
}

.btn-secondary:hover {
    color: var(--yellow);
    background-color: var(--navy);
}

.modal-open {
  overflow: scroll;
}

.modal {
  z-index: inherit !important;
  position: absolute !important;
  margin: 0 auto;
  /* height: 100% !important; */
  padding: 0;
}

#modal {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
