* {box-sizing: border-box;}

:root {
  --yellow: #ffcb05;
  --mustard: #b3a125;
  --blue: #2a75bb;
  --navy: #003a70;
  --red: #cc0000;
}

body {
  position: absolute;
  background-color: var(--blue);
  color: #ffcb05;
  border: 10px solid var(--yellow);
  width: 100%;

}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
a:hover {
  color: rgb(255, 255, 255);
}

h1 {
  font-size: 2.1875rem;
  font-weight: 800;
  text-align: center;
  background-color: inherit;
  color: white;
  margin: 0 auto;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.9px;
  border-bottom: 2px solid black;
  font-family: 'Rubik', sans-serif;
}

h2 {
  margin-top: 0.9375rem;
  font-size: 1.25rem;
  text-align: left;
}

.search {
  text-align: left !important;
  display: block;
}

.headImg {
    width: 100%;
}

.card-header {
  display: inline-block;
}

/* .modal-header {
  display: inline-block;
} */

.card-img {
  height: 7.875rem;
}

/* .modal-img {
  height: 7.875rem;
} */

.header-powerbtn {
  background: url("../src/img/power.png");
  background-size: 100% 100%;
  margin-bottom: 0;
  width: 2.8125rem;
  height: 2.8125rem;
  margin: 1.5625rem;
  transition: ease-in-out all .4s;
  cursor: pointer;
}

.header-powerbtn:hover {
  /* different image than above */
  background-color: var(--mustard);
  border-radius: 50px;
}

#overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 35px;
  background-color: #696666;
  z-index: 4000;
}

.card-foreground.visible::-webkit-scrollbar {
  width: 0.625rem;
}

/* .modal-foreground.visible::-webkit-scrollbar {
  width: 0.625rem;
} */

.card-foreground.visible::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* .modal-foreground.visible::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
} */

.card-foreground.visible::-webkit-scrollbar-thumb {
  background: #888;
  height: 1.25rem;
  border-radius: 0.625rem;
}

/* .modal-foreground.visible::-webkit-scrollbar-thumb {
  background: #888;
  height: 1.25rem;
  border-radius: 0.625rem;
} */

.card-foreground.visible::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* .modal-foreground.visible::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

/* modal background color */
.fire-bg,
.fighting-bg {
  background-image: url("..//img/fire.png");
  border: 15px solid var(--mustard);
}

.psychic-bg,
.ghost-bg {
  background-image: url("..//img/psychic.png");
  border: 15px solid var(--mustard);
}

.grass-bg,
.bug-bg {
  background-image: url("..//img/grass.png");
  border: 15px solid var(--mustard);
}

.water-bg {
  background-image: url("..//img/water.png");
  border: 15px solid var(--mustard);
}

.normal-bg,
.ground-bg {
  background-image: url("..//img/colorless.png");
  border: 15px solid var(--mustard);
}

.electric-bg {
  background-image: url("..//img/electric.png");
  border: 15px solid var(--mustard);
}

.fairy-bg {
  background-image: url("..//img/fairy.png");
  border: 15px solid var(--mustard);
}

.dragon-bg {
  background-image: url("..//img/dragon.png");
  border: 15px solid var(--mustard);
}

.ice-bg {
  background-image: url("..//img/ice.png");
  border: 15px solid var(--mustard);
}

.poison-bg,
.rock-bg {
  background-image: url("..//img/poison.png");
  border: 15px solid var(--mustard);
}

.form-inline {
  color: white;
  font-size: 1.25rem;
  text-align: center;
}

.pokedex-window {
  position: relative;
  max-width: 800px;
  width: 100%;
  min-width: 300px;
  height: 31.25rem;
  background-color: #696666;
  margin-bottom: 5rem;
  padding: 1.5625rem 0.9375rem 1.5625rem;
  border-radius: 5%;
  border: 3px solid black;
  transition: all ease-in-out 0.4s;
}

#search-bar {
  text-align: left;
}

.control-label {
  margin-left: 0.9375rem;
}

.control-group.form-inline {
  /* text-align: right; */
}
.pokedex-window-scrollbox {
  overflow: scroll;
  max-width: 800px;
  width: 100%;
  min-width: 250px;
  height: 100%;
  margin: 0;
  background-color: lightgrey;
  padding: 0 0.9375rem 0 0.9375rem;
}

/* loading screen */
.msg-board {
  position: absolute;
  display: flex;
  font-size: 1.5rem;
  font-weight: 900;
  max-width: 800px;
  width: 95%;
  min-width: 290px;
  height: 95%;
  margin: 0;
  background-color: #696666;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.pokedex-window-scrollbox::-webkit-scrollbar {
  width: 0.6875rem;
}
.pokedex-window-scrollbox::-webkit-scrollbar-thumb {
  background-color: #818181;
  border-radius: 5px;
}

header {
  max-width: 400px;
  margin: 0 auto;
}

.logo {
  height: 6.25rem;
  margin: 0 auto;
  text-align: center;
  display: inline;
}

.form-control {
  margin: 1.25rem auto;
  text-align: left !important;
}

ul {
  list-style-type: none;
}

.pokedex {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  box-shadow: inset 0 0 15px grey;
  background-color: var(--red);
  color: black;
  border: 2px solid black;
  min-width: 400px;
  max-width: 800px;
  margin: 1.5625rem auto;
  padding-left: 2.8125rem;
  padding-right: 2.8125rem;
}

.pokedex-head {
  background-color: inherit;
  color: black;
  text-align: center;
}

.card-backdrop {
  position: relative;
  width: 37.5rem;
  height: 43.75rem;
  background-color: grey;
  z-index: 1000;
}

/* .modal-backdrop {
  position: relative;
  width: 37.5rem;
  height: 43.75rem;
  background-color: grey;
  z-index: 1000;
} */

.card-content {
  position: relative;
  width: 95%;
  height: 27.8125rem;
  margin-left: 5%;
  margin-top: -0.3125rem;
  z-index: 2000;
}

/* .modal-content {
  position: relative;
  width: 95%;
  height: 27.8125rem;
  margin-left: 5%;
  margin-top: -0.3125rem;
  z-index: 2000;
} */

.btn-lg {
  width: 35%;
  min-width: 130px;
  text-align: center;
}

.card-open {
  overflow: scroll;
}

/* .modal-open {
  overflow: scroll;
} */

.card {
  /* display: none !important; */
  z-index: inherit !important;
  position: absolute !important;
  margin: 0 auto;
  padding: 0;
  
}
#card {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* .modal {
  z-index: inherit !important;
  position: absolute !important;
  margin: 0 auto;
  padding: 0;
}
#modal {
  width: 100%;
  height: 100%;
  overflow: hidden;
} */
